{% extends "base_admin.html.twig" %}




 


{% block section %}

    {{ form_start(form) }}     

            {{ form_row(form.label) }}
            {{ form_row(form.color) }}    

	        <button type="submit">Soumettre</button>

    {{form_end(form)}}
 {% endblock %}