<footer>
    <div class="card text-center">
        <div class="card-header">
          @SIMPLON
        </div>
        <div class="card-body">
          <h5 class="card-title">Marina et Anais</h5>
          <p class="card-text">le 14 mars 2025</p>
          <a href="#" class="btn btn-primary">haut de page</a>
        </div>
        <div class="card-footer text-body-secondary">
          
        </div>
    </div>




    
</footer>